# Node.js
node_modules/
npm-debug.log

# Build files
/build/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env*.local
.env*.development
.env*.test
.env*.production

# Cache and logs
.pnp/
.pnp.js
.cache/
yarn-error.log

# Visual Studio Code folder
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Node.js
node_modules/