.currency-row {
    max-width: none;
    text-align: center;
    background-color: rgba(64, 64, 64, 1);
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.7rem;
    border-radius: 12px;
}

.currency-row :hover {
    cursor: pointer;
}

.change-box {
    min-width: 30px;
    max-width: 60px;
    max-height: 30px;
    border-radius: 3px;
    align-self: center;
}

.change-box-wrapper {
    align-self: center;
}

.text {
    align-self: center;
}
